<section class="new-link">
<h2>Welcome to URLLockbox</h2>
    <h3>Add a new link</h3>
      <div id="create-form">
        <label id="title-field">Title
          <input type="text" id="link-title" name="link-title" placeholder="Title of Link">
        <div class="validation-error"></div>
        </label>
        <label id="url-field">URL
          <input type="url" id="link-url" name="link-url" placeholder="What's the URL?">
        <div class="validation-error"></div>
        </label>
        <button class="btn-continue" id="create-link">Submit Link</button>
      </div>
</section>
<section id="link-filter">
  <label>Filter by letters in the URL or title:
    <input type="text" id="filter-links">
    <button class="btn-cancel">Show Read</button>
    <button class="btn-cancel">Show Unread</button>
  </label>
</section>
<section class="all-links">
</section> 
<%= button_to "Logout", logout_path, :method => :delete %>