body
  padding: 0

main
  display: block
  clear: both
  margin-top: 40px

.content
  margin-top: 50px

.all-links
  width: 300px
  margin: 10px auto 10px auto
  ul
    li
      font-family: monospace
      background-color: $light-gray
      border: 1px solid $med-light-gray
      color: $dark-gray
      border-radius: 3px
      padding: 10px 15px
      margin-bottom: 8px
  p
    color: $dark-gray
    font-size: 16px
    line-height: 22px
  h4
    color: $med-dark-gray
    font-weight: bold
    background-color: $light-gray
    padding: 7px 10px
    margin: 9px 0 9px 0
  p
    margin-left: 20px
  .true 
    background: $lemon
